@{
    ViewData["Title"] = "Contact";
}

<h3>@ViewData["Message"]</h3>

<address>
    Grande Gift Company<br />
    Sydney, NSW, 2000<br />
    <abbr title="Phone">Phone:</abbr>
    0451989891
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@grandegift.com">Support@grandegift.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@grandegift.com">Marketing@grandegift.com</a>
</address>
