<div class="container pages page-block marg-top-20 pad-all-20 clearfix">
    <h1>Privacy Policy</h1>
    <p>We respect your right to privacy and are committed to protecting the privacy of our website visitors. The purpose of this Privacy Policy is to outline how we deal with any personal data you provide to us while visiting this website.</p>
    <p>By visiting this website, you are accepting the terms of this Privacy Policy. Any external links to other websites are clearly identifiable as such, and we are not responsible for the content or the privacy policies of these other websites.</p>
    <h2>The Information We Collect</h2>
    <p>
        We retain two types of information:
    </p><ul>
        <li>Non-Personal Data</li>
        <li>Personal Data</li>
    </ul>
    <p></p>
    <p><strong>Non-Personal Data:</strong> Like most websites, we gather statistical and other analytical information collected on an aggregate basis from all visitors to our website. This Non-Personal Data comprises information that cannot be used to identify or contact you, such as demographic information regarding, for example, user IP addresses, browser types and other anonymous statistical data involving the use of our website.</p>
    <p><strong>Personal Data:</strong> This is data that identifies you or can be used to identify or contact you and may include 1.) your contact/billing details (name, address, email address, telephone/fax numbers), 2.) your recipient's contact details (name, address, telephone number) and 3.) your order greeting message. Credit card details are not stored by us and are passed directly on to our payments company Realex Payments for immediate processing. Such information is only collected from you if you voluntarily submit it to us.</p>
    <h2>The Purpose For Which We Hold Your Information</h2>
    <p><strong>Non-Personal Data:</strong> We use the Non-Personal Data gathered from visitors to our website in an aggregate form to get a better understanding of where our visitors come from and to help us better design, organise and market our website.</p>
    <p>
        <strong>Personal Data:</strong> We will process any Personal Data you provide to us for the following purposes:
    </p><ul>
        <li>To facilitate the provision of goods ordered to you or your recipient;</li>
        <li>To contact you or your recipient if required in connection with your order or to respond to any communications you might send to us;</li>
        <li>To communicate to you information about new products, features, services and special offers we think you will find valuable. You may opt-out of receiving such communications. To opt out, please <a asp-controller="Home" asp-action="Contact">contact us</a></li>
    </ul>
    <p></p>
    <h2>Updating, Verifying and Deleting Personal Data</h2>
    <p>You may inform us of any changes in your Personal Data, and in accordance with our obligations under the Data Protection Acts 1988 and 2003 we will update or delete your Personal Data accordingly. To find out what Personal Data we hold on you or to have your Personal Data updated, amended or removed from our database, please <a asp-controller="Home" asp-action="Contact">contact us</a>.</p>
    <h2>Disclosure of Sender</h2>
    <p>When your order is shipped directly to a third party (i.e. the gift recipient), the Company may provide the recipient with contact details of sender (name, address &amp; telephone). In the event the sender wishes to remain anonymous and requests same, the Company may remove this information from the parcel however in all cases will divulge sender's contact details should the recipient request such information. This is to avoid nuisance correspondence and allows the recipient to decide whether they wish to keep the order.</p>
    <h2>Security</h2>
    <p>The security of your online purchase is of paramount importance to us. We take all reasonable steps (including appropriate technical and organisational measures) to protect your Personal Data including using a secure server (SSL) to encrypt all of your payment information. All data sent to our server and the data returned to you when viewing a secure page is encrypted to prevent unauthorised persons intercepting your details. When you enter the checkout area of our site you will move to our secure server. You can instantly see that a page is being viewed in secure mode as the URL (address) will start with "https://" instead of the usual "http://".</p>
    <h2>Changes To This Policy</h2>
    <p>Any changes to this Privacy Policy will be posted on this website so you are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. If at any time we decide to use Personal Data in a manner significantly different from that stated in this Privacy Policy, or otherwise disclosed to you at the time it was collected, we will notify you by email, and you will have a choice as to whether or not we use your information in the new manner.</p>
    <div class="clearfix10">&nbsp;</div>
</div>