<div class="container pages page-block marg-top-20 pad-all-20 clearfix">
    <h1>Terms &amp; Conditions</h1>
    <p>Thank you for visiting our website. The following are the Terms and Conditions for the use of this website and the purchase of products from GrandeGift ("The Company"). Use of this website constitutes your agreement to be bound by these Terms and Conditions.</p>
    <h2>Quotations &amp; Pricing</h2>
    <p>Quotations are given on the basis of costs at the time of issue. The Company does retain the right to revise our prices at any time to reflect changes in our costs such as but not limited to: goods, carriage, labour, overheads, government taxes and exchange rates</p>
    <h2>Payment</h2>
    <p>We accept payment online by VISA, MasterCard and American Express. You may also pay 'offline' via Cheque, Bank Draft, Postal Order or Bank Transfer. VAT is charged at the current rate where applicable. Goods will only be despatched once payment has been received in full. All products remain the property of The Company until payment is received in full.</p>
    <p>A credit account may be opened by corporate clients, subject to trade references and application approval, on the strict condition that payment is made within 30 days from date of invoice. Please contact us for more information.</p>
    <h2>Hamper and Gift Basket Contents</h2>
    <p><u>Every effort is made to strictly conform with the hamper description and quality. However in the event of a hamper item not being available from our local suppliers, we reserve the right to substitute the item for an upgraded product of equal or greater value.</u></p>
    <h2>Photographs</h2>
    <p>We have made all reasonable efforts to ensure each photograph accurately reflects the product being sold. On occasions, there may be minor differences between the product's appearance in the photograph and the item delivered due to manufacturing changes beyond our control.</p>
    <h2>Unavailable Products</h2>
    <p>If an item is out of stock, the sender will be notified as soon as possible and will have the option of 1) awaiting stock availability, 2) selecting an alternative gift or 3) being given a full refund.</p>
    <h2>Disclosure of Sender</h2>
    <p>When your order is shipped directly to a third party (i.e. the gift recipient), the Company may provide the recipient with contact details of sender (name, address &amp; telephone). In the event the sender wishes to remain anonymous and requests same, the Company may remove this information from the parcel however in all cases will divulge sender's contact details should the recipient request such information. This is to avoid nuisance correspondence and allows the recipient to decide whether they wish to keep the order.</p>
    <h2>Copyright</h2>
    <p>Use of any materials on this website is reserved and may not be used elsewhere in any form without the express written permission of The Company.</p>
    <h2>Law</h2>
    <p>These conditions, and all acts of The Company, its Directors and Employees, shall be governed and construed in every way in accordance with the Laws of Australia.</p>
    <div class="clearfix10">&nbsp;</div>
</div>